<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="task">
    <ion-slides *ngIf="task.results.length; else noResults" mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
      <ion-slide *ngFor="let taskResult of task.results; index as i">
        <app-task-result [result]="taskResult" [index]="i" [total]="task.results.length"></app-task-result>
      </ion-slide>
    </ion-slides>
    <ng-template #noResults>
      No result
    </ng-template>
  </div>
</ion-content>
