<ion-content>
  <div id="camera-preview" class="camera-preview">
    <div class="overlay">
      <ion-button class="cancel-btn" color="medium" (click)="cancel()" fill="clear">
        Cancel
      </ion-button>

      <ion-button class="take-picture-btn" (click)="takePicture()" shape="round" [disabled]="isLoading">
        <ion-icon *ngIf="!isLoading" slot="icon-only" name="camera"></ion-icon>
        <ion-spinner *ngIf="isLoading" name="lines"></ion-spinner>
      </ion-button>

      <ion-button class="photo-btn" color="medium" (click)="chooseFile()"  fill="clear">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
