ion-content {
    --background: transparent !important;
}

.overlay {
    position: absolute;
    z-index: 11;
    height: 100%;
    width: 100%;
}

.cancel-btn {
    position: absolute;
    bottom: 24px;
    left: 12.5%;
    transform: translateX(-50%);
    z-index: 1;
}

.photo-btn {
    position: absolute;
    bottom: 24px;
    right: 12.5%;
    transform: translateX(50%);
    z-index: 1;
}

.take-picture-btn {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#camera-preview {
    position: absolute;
    z-index: 1;
    display: flex;
    height: 100%;
    width: 100%;
}

.can-container {
    display: flex;
    position: absolute;
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    flex-direction: column; 

    ion-button {
        width: 50%;
    }

    z-index: 12;
}